.formulario-container {
  max-width: 500px;
  margin: 0 auto;
}

.formulario-container div {
  margin-bottom: 20px; /* Añadir margen inferior para separar los elementos */
}

.formulario-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario-container input,
.formulario-container select,
.formulario-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px; /* Reducir el margen inferior */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.formulario-container textarea {
  height: 120px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid #ccc; /* Línea para separar los botones */
 
}
